@require '../colors'

.info
  margin 1em

.section
  padding .5em
  background alpha($sepia, .6)
  border 1px solid lighten($sepia, 20%)
  border-radius 4px
  color #fff
  display flex

  &:not(:last-child) {
    margin-bottom 1em
  }

.block
  display inline-block

  &:not(:first-child)
    margin-left 1em

.ancestry
  //

.bg
  //

.charClass
  //
