.info
  margin 1em

.basic
  padding .5em
  background rgba(0,0,0,.6)
  border 1px solid #000
  color #fff
  display flex

.block
  display inline-block

  &:not(:first-child)
    margin-left 1em

.ancestry
  //

.bg
  //

.charClass
  //
