@require '../colors'

.section
  position relative
  padding 1em .5em .5em
  background alpha($sepia, .6)
  border 1px solid lighten($sepia, 20%)
  border-radius 4px
  color #fff
  display flex

  &:not(:last-child)
    margin-bottom 1em

.heading
  font-size 12px
  position absolute
  left .65em
  top 0
